<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>예약하기</title>
</head>
<link rel='stylesheet' type='text/css' media='screen' href='/css/schedulerInsert.css'>
<script src="/js/ajaxmodules.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    /* 시간 제한하기 콜백 */
    function ajaxGetSoldout(success){
        var choiceDate = new Date($("input[name=startDate]").val()).toISOString().substring(0, 10);
        
        /* !사용할거!
        날짜에 알맞은 스케줄 보여주기
        document.getElementById('ibox').innerHTML = `<iframe id="inIbox" src="/scheduler/iframe"></iframe>`
        */

        //시간 초기화
        $('#startTime option').prop('disabled', false).eq(0).prop('selected', true);
        $('#endTime option').prop('disabled', false).eq(0).prop('selected', true);

        /* 날짜비교 이렇게하기 메모
        var d = new Date('2022-01-07 08:00:00').getTime(); 
        var d2 = new Date('2022-01-08 08:00:01').getTime();
        */
        
        $(success).each(function() {
            var data = $(this)[0]; // success[0] = data
            var endDay = new Date(data['endDate']).getTime(); // 그 일정에 종료날짜.getTime()
            var start = new Date(data['startDate']).toTimeString().substring(0, 5); // 시작시간 포멧 08:00
            var end = new Date(data['endDate']).toTimeString().substring(0, 5);     // 종료시간 포멧 09:00
            var stIndex = $('#startTime option[value="' + start + '"]').index(); // 전체 옵션중에 시작시간이랑 같은 옵션의 인덱스
            var edIndex = $('#endTime option[value="' + end + '"]').index();     // 전체 옵션중에 종료시간이랑 같은 옵션의 인덱스

            /* 선택날짜와 종료날짜를 비교해서 있다면 시작시간 인덱스부터 싹 다 disabled 
             * 없다면 데이터들이 선택날짜와 종료날짜가 같으니 있는것들만 disabled
            console.log(choiceDate < endDay);
            console.log(choiceDate, endDay);
            

            if(choiceDate < endDay){ // 1번 어떻게 비교할지 고민하기
                console.log("크다!");
            }else{
                console.log("없다");
            }
            */

            for(var i=stIndex; i<=edIndex; i++) {
                $('#startTime option').eq(i).prop('disabled', true); // eq는 인덱스값을 가져온다
            }
            $('#startTime option').not(':disabled').first().prop('selected', true); // 옵션이 디스에이블이 아닌것중 첫번째를 선택한다.
            $('#endTime option').not(':disabled').first().prop('selected', true);
            
            /* 2번
             * 지금은 자원을 눌러놓고 날짜 선택을해야 데이터를 받아왔다면
             * 같은걸 날짜 먼저 누르고 자원을 선택해도 돌아가는 ajax를 생성해야함
            */

            /* 3번 (가정)
             * 만약 1월 8일부터 1월 10일까지 예약하고싶은데
             * 1월 9일에 누가 먼저 예약을 했다면?
             * 스타트 데이트는 언제든 선택이 가능하다 하지만,
             * 엔드 데이트는 1월 9일까지만 가능하게 보여줘야한다.
             * max값을 attr 해줄건데 어떻게 알고 해줄것인가 
            */ 
        });
    };



    $(function(){

        /* 날짜 기본세팅 */
        var date = new Date();
        var yyyy = date.getFullYear();
        var mm = date.getMonth()+1 > 9 ? date.getMonth()+1 : '' + date.getMonth()+1;
        var dd = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
        $("input[type=date]").val(yyyy+"-"+mm+"-"+dd);

        /* 자원선택 */
        $("#location").click(function(){
            
        });

        /* 예약 시작일 선택시 예약된곳 예약불가 */
        $("input[name=startDate]").change(function(){
            var startDate = $("input[name=startDate]").val();
            var roomName = $("#location option:selected").val();
            var data = {"startDate" : startDate,
            "roomName" : roomName
            };
            var url = "/scheduler/findDate";
            var type = "post";
        
            $("input[name=endDate]").val(startDate); // 선택한 날짜 같은날짜로 이동하기
            $("input[name=endDate]").attr('min', startDate); // 선택한 날짜 이전 날짜는 선택붙가 , 검증 한번 필요
            ajaxRequset(type,url,data,ajaxGetSoldout);
        });
        
         /* 게시판 인서트 */
        $("#insert").click(function(){
            var title = $("input[name=title]").val();
            if(title == ""){
                alert("예약명을 입력해주세요");
            }else{
                $("form").submit();
            }
        });

    });//루트
</script>
<div class="wrapper">
    <div class="content">
        <h1>예약하기</h1>
        <form method="post" action="/scheduler">
            <span style="font-size: 20px;">자원선택</span>
            <select name="location" id="location">
                <option value="301호">301호 중회의실</option>
                <option value="302호">302호 소회의실</option>
                <option value="303호">303호 대회의실</option>
                <option value="402호">402호 회의실</option>
            </select><br><br>
            <span style="font-size: 20px;">예약자&nbsp&nbsp</span>
            <input type="text" style="width: 200px;" name="name" value="<%= user.name %>" readonly><br><br>
            <span style="font-size: 20px;">예약명&nbsp&nbsp</span>
            <input type="text" style="width: 200px;" name="title"><br><br>
            <span style="font-size: 20px; margin-right: 10px;">예약일</span>
            <input class="dateInput" type="date" name="startDate" style="height: 37px;">
            <select name="startTime" id="startTime">      
                <option value="08:00">08:00</option>
                <option value="08:10">08:10</option>
                <option value="08:20">08:20</option>
                <option value="08:30">08:30</option>
                <option value="08:40">08:40</option>
                <option value="08:50">08:50</option>
                <option value="09:00">09:00</option>
                <option value="09:10">09:10</option>
                <option value="09:20">09:20</option>
                <option value="09:30">09:30</option>
                <option value="09:40">09:40</option>
                <option value="09:50">09:50</option>
                <option value="10:00">10:00</option>
                <option value="10:10">10:10</option>
                <option value="10:20">10:20</option>
                <option value="10:30">10:30</option>
                <option value="10:40">10:40</option>
                <option value="10:50">10:50</option>
                <option value="11:00">11:00</option>
                <option value="11:10">11:10</option>
                <option value="11:20">11:20</option>
                <option value="11:30">11:30</option>
                <option value="11:40">11:40</option>
                <option value="11:50">11:50</option>
                <option value="12:00">12:00</option>
                <option value="12:10">12:10</option>
                <option value="12:20">12:20</option>
                <option value="12:30">12:30</option>
                <option value="12:40">12:40</option>
                <option value="12:50">12:50</option>
                <option value="13:00">13:00</option>
                <option value="13:10">13:10</option>
                <option value="13:20">13:20</option>
                <option value="13:30">13:30</option>
                <option value="13:40">13:40</option>
                <option value="13:50">13:50</option>
                <option value="14:00">14:00</option>
                <option value="14:10">14:10</option>
                <option value="14:20">14:20</option>
                <option value="14:30">14:30</option>
                <option value="14:40">14:40</option>
                <option value="14:50">14:50</option>
                <option value="15:00">15:00</option>
                <option value="15:10">15:10</option>
                <option value="15:20">15:20</option>
                <option value="15:30">15:30</option>
                <option value="15:40">15:40</option>
                <option value="15:50">15:50</option>
                <option value="16:00">16:00</option>
                <option value="16:10">16:10</option>
                <option value="16:20">16:20</option>
                <option value="16:30">16:30</option>
                <option value="16:40">16:40</option>
                <option value="16:50">16:50</option>
                <option value="17:00">17:00</option>
                <option value="17:10">17:10</option>
                <option value="17:20">17:20</option>
                <option value="17:30">17:30</option>
                <option value="17:40">17:40</option>
                <option value="17:50">17:50</option>
                <option value="18:00">18:00</option>
                <option value="18:10">18:10</option>
                <option value="18:20">18:20</option>
                <option value="18:30">18:30</option>
                <option value="18:40">18:40</option>
                <option value="18:50">18:50</option>
                <option value="19:00">19:00</option> 
            </select>
            <span style="font-size: 15px; margin-right: 10px;">부터</span>
            <input type="date" class="dateInput" name="endDate" style="height: 37px;">
            <select name="endTime" id="endTime">     
                <option value="08:00">08:00</option>
                <option value="08:10">08:10</option>
                <option value="08:20">08:20</option>
                <option value="08:30">08:30</option>
                <option value="08:40">08:40</option>
                <option value="08:50">08:50</option>
                <option value="09:00">09:00</option>
                <option value="09:10">09:10</option>
                <option value="09:20">09:20</option>
                <option value="09:30">09:30</option>
                <option value="09:40">09:40</option>
                <option value="09:50">09:50</option>
                <option value="10:00">10:00</option>
                <option value="10:10">10:10</option>
                <option value="10:20">10:20</option>
                <option value="10:30">10:30</option>
                <option value="10:40">10:40</option>
                <option value="10:50">10:50</option>
                <option value="11:00">11:00</option>
                <option value="11:10">11:10</option>
                <option value="11:20">11:20</option>
                <option value="11:30">11:30</option>
                <option value="11:40">11:40</option>
                <option value="11:50">11:50</option>
                <option value="12:00">12:00</option>
                <option value="12:10">12:10</option>
                <option value="12:20">12:20</option>
                <option value="12:30">12:30</option>
                <option value="12:40">12:40</option>
                <option value="12:50">12:50</option>
                <option value="13:00">13:00</option>
                <option value="13:10">13:10</option>
                <option value="13:20">13:20</option>
                <option value="13:30">13:30</option>
                <option value="13:40">13:40</option>
                <option value="13:50">13:50</option>
                <option value="14:00">14:00</option>
                <option value="14:10">14:10</option>
                <option value="14:20">14:20</option>
                <option value="14:30">14:30</option>
                <option value="14:40">14:40</option>
                <option value="14:50">14:50</option>
                <option value="15:00">15:00</option>
                <option value="15:10">15:10</option>
                <option value="15:20">15:20</option>
                <option value="15:30">15:30</option>
                <option value="15:40">15:40</option>
                <option value="15:50">15:50</option>
                <option value="16:00">16:00</option>
                <option value="16:10">16:10</option>
                <option value="16:20">16:20</option>
                <option value="16:30">16:30</option>
                <option value="16:40">16:40</option>
                <option value="16:50">16:50</option>
                <option value="17:00">17:00</option>
                <option value="17:10">17:10</option>
                <option value="17:20">17:20</option>
                <option value="17:30">17:30</option>
                <option value="17:40">17:40</option>
                <option value="17:50">17:50</option>
                <option value="18:00">18:00</option>
                <option value="18:10">18:10</option>
                <option value="18:20">18:20</option>
                <option value="18:30">18:30</option>
                <option value="18:40">18:40</option>
                <option value="18:50">18:50</option>
                <option value="19:00">19:00</option>  
            </select><br><br>
            <div id="ibox"></div>
            <span style="font-size: 20px;">종일&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="radio" name="allday" value="true">예
            <input type="radio" name="allday" value="false" checked>아니오
            <br><br><button type="button" id="insert">예약하기</button><br><br><br><br>
        </form>
    </div>
</div>

        <!-- id: '1',
        calendarId: '1',
        title: 'my schedule',
        category: 'time',
        dueDateClass: '',
        start: '2022-01-04T10:30:00+09:00',
        end: '2022-01-04T02:30:00+09:00' -->
