<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>예약하기</title>
</head>
<link rel='stylesheet' type='text/css' media='screen' href='/css/schedulerInsert.css'>
<script src="/js/ajaxmodules.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    // Ajax 호출시에 응답이 올때까지 화면 멈추기 추가

    /* 시간 제한하기 콜백 */
    function ajaxGetSoldout(success){
        var choiceDate = moment($("input[name=startDate]").val())._i;

        // /* 스케줄러 보여주기 */
        document.getElementById('ibox').innerHTML = `<iframe id="inIbox" src="/scheduler/iframe"></iframe>`
        console.log("1번")
        //시간 초기화
        $('#startTime option').prop('disabled', false).eq(0).prop('selected', true);
        $('#endTime option').prop('disabled', false).eq(0).prop('selected', true);

        $(success).each(function() {
            console.log("2번")
            var data = $(this)[0]; // success[0] = data
            var startDate = data['startDate'].substring(0, 10); // 가져온 일정의 종료날짜 포멧 YYYY-MM-DD
            var endDay = data['endDate'].substring(0, 10); // 가져온 일정의 종료날짜 포멧 YYYY-MM-DD
            var start = new Date(data['startDate']).toTimeString().substring(0, 5); // 가져온 일정의 시작시간 포멧 08:00
            var end = new Date(data['endDate']).toTimeString().substring(0, 5);     // 가져온 일정의 종료시간 포멧 09:00
            var stIndex = $('#startTime option[value="' + start + '"]').index(); // 내가 정의한 전체 옵션중에 시작시간이랑 같은 옵션의 인덱스
            var edIndex = $('#endTime option[value="' + end + '"]').index();     // 내가 정의한 전체 옵션중에 종료시간이랑 같은 옵션의 인덱스
            var repetCount = $("#endTime option").length; // for문 몇번 돌릴지

            //일정시작 날짜와 내가 고른 날짜가 같다면 
            if(startDate == choiceDate){
                console.log("3번")
                //일정시작 날짜와 내가 고른 날짜가 같고 내가 고른 날짜와 일정종료 날짜가 같다면
                if(choiceDate == endDay){
                    console.log("4번")
                    // 같은 날 시작하고 종료를 하니까 일정마다 닫아줘야함
                    for(var i = stIndex; i <= repetCount; i++) {
                        /* 
                         * 일정의 시작 인덱스가 i보다 작고 일정의 종료 인덱스가 i보다 크다면?
                         * 시작시간이 i보다 작고 종료시간이 i보다 크다면 일정 선택불가능   
                        */
                        if(stIndex < i && i < edIndex ){
                            $('#startTime option').eq(i).prop('disabled', true);
                        }
                    };
                //일정시작 날짜와 내가 고른 날짜가 같지만 내가 고른 날짜와 일정종료 날짜가 같지않다면?                    
                }else{
                    console.log("5번 일정시작 날짜와 내가 고른 날짜가 같지만 내가 고른 날짜와 일정종료 날짜가 같지않다면?");
                    // 일정의 시작 인덱스부터 끝까지 disabled
                    for(var i=stIndex; i<=repetCount; i++) {
                        if(stIndex <= i || i <= edIndex ){
                            $('#startTime option').eq(i).prop('disabled', true);
                            $('#endTime option').eq(i).prop('disabled', true);
                        };
                    };
                };
            //일정시작 날짜와 내가 고른 날짜가 다르고 내가 고른 날짜와 가져온 일정의 종료 날짜가 같다면
            }else if(choiceDate == endDay){
                console.log("6번 일정시작 날짜와 내가 고른 날짜가 다르고 내가 고른 날짜와 가져온 일정의 종료 날짜가 같다면");
                // 포함된 일정의 종료시간 까지 모든 옵션을 disabled
                for(var i = 0; i <= repetCount; i++) {
                    if(i < edIndex){ 
                        $('#startTime option').eq(i).prop('disabled', true);
                    }
                };
            // 일정시작 날짜와 내가 고른 날짜가 다르다면 (중간에 있는 일정들을 모두 막아준다.)
            }else{ 
                console.log("7번 일정시작 날짜와 내가 고른 날짜가 다르다면");
                for(var i = 0; i <= repetCount; i++) {
                    $('#startTime option').eq(i).prop('disabled', true); 
                };
            };
            $('#startTime option').not(':disabled').first().prop('selected', true); // 옵션이 디스에이블이 아닌것중 첫번째를 선택한다.
            $('#endTime option').not(':disabled').first().prop('selected', true);
        });// ★검증완료★
        console.log("8번 시간변경으로 가는길")
        $("#startTime").change(); // 바뀐 시간에서 최인접값 찾아주는 에이젝스 실행
    };

    /* 인접값 end 시간이후 모두 disabled 시키는 콜백 */
    function ajaxGetClosestTime(success){
        console.log("9번")
        var choiceDate = moment($("input[name=startDate]").val())._i; // 내가 선택한 날짜
        var startTime = $("#startTime").val();                        // 내가 선택한 시작시간
        var endTime = $("#endTime").val();                            // 내가 선택한 종료시간
        var selectIndex = $('#startTime option[value="' + startTime + '"]').index(); // 내가 선택한 시작시간의 '인덱스'
        var endIndex = $('#endTime option[value="' + endTime + '"]').index();        // 내가 선택한 종료시간의 '인덱스'
        var repetCount = $("#endTime option").length; // for문 몇번 돌릴지
        $("#endDate").removeAttr('max');              // 선택할 수 있는 최대 날짜를 초기화해준다.
        $('#endTime option').prop('disabled', false).eq(0).prop('selected', true);
        
        // 인접값이 있다면? (내가 선택한 일정 이후에 일정이 있다면)
        console.log(success);
        if(success !== null){
            console.log("10번 인접값이 있다면? (내가 선택한 일정 이후에 일정이 있다면)")
            var maxDate = success.startDate.substring(0, 10);                           // 인접값의 시작'날짜'
            var minDate = success.endDate.substring(0, 10);                             // 인접값의 종료'날짜'
            var maxTime = new Date(success.startDate).toTimeString().substring(0, 5);   // 인접데이터의 시작'시간'
            var endTime = new Date(success.endDate).toTimeString().substring(0, 5);     // 인접데이터의 종료'시간'
            var stIndex = $('#startTime option[value="' + maxTime + '"]').index();      // 인접 데이터 시작시간의 '인덱스'
            var edIndex = $('#endTime option[value="' + endTime + '"]').index();        // 인접 데이터 종료시간의 '인덱스'
            
            // 최대 선택가능 날짜(가장 가까운 일정의 시작날짜) ☆ 여기서부터 막히기 시작함
            $("input[name=endDate]").attr('max', maxDate);
            
            // 인접값이 있고, 내가고른 날짜랑 인접한 데이터의 시작 날짜랑 같지않다면 > 고른 시간 이전 시간은 못고르게 막아주기 (완료)
            if(choiceDate !== maxDate){
                console.log("11번 인접값은 있는데, 내가고른 날짜랑 인접한 데이터의 시작 날짜랑 같지않다면");
                for(var i=0; i <= repetCount ; i++){
                    // 고른 시간 이전 시간은 못고르게 막아주기
                    if(selectIndex >= i){
                        $('#endTime option').eq(i).prop('disabled', true);
                    };
                };
                // 고른 날짜랑 인접값의 종료 날짜랑 같다면 (26일을 눌렀는데 26일에 일정이 종료된다면?) ☆ 일정을 가져오는게 아니라서 for문을 돌릴수가 없어
                if(choiceDate == minDate){
                    console.log("12번 고른 날짜랑 인접값의 종료 날짜랑 같다면 (26일을 눌렀는데 26일에 일정이 종료된다면?)");
                    for(i = 0; i <= selectIndex; i++){
                        console.log("몇번도나");
                        if(edIndex >= i){
                            $('#endTime option').eq(i).prop('disabled', true); 
                        };
                    };
                };
                // 고른 날짜랑 인접값의 종료날짜가 다르다면 전체 다 막아주기 (중간에 껴있는 일정)  
                // else if( "일정의 종료일을 받아와서 그 종료일에 맞게 stert랑 end값을 넣어줘야함. 그치만 조회되는건 19일자가 조회된다 한번 더 함수를 사용해서 데이터 조회를 해야할지"){
                    
                // }
            $('#endTime option').not(':disabled').first().prop('selected', true);
            // 인접값이 있고, 내가 고른 날짜랑 인접한 데이터의 시작날짜가 같음 미완성 // 종료 날짜를 가져와야하는데 계속 같은 데이터를가져옴
            }else{
                console.log("14번 인접값이 있고, 내가 고른 날짜랑 인접한 데이터의 시작날짜가 같음")
                // 그 날짜에 일정을 가져와서 데이터를 뿌려주어야함.
                for(var i = 0; i <= repetCount ; i++) {
                    if(i <= selectIndex || stIndex <= i){
                        $('#endTime option').eq(i).prop('disabled', true);
                    };
                };    
                $('#endTime option').not(':disabled').first().prop('selected', true);
            };
        // 인접값이 없다면? (내 일정 이후에 일정이 없다면) 종료일정이 걸쳐있을수 있음.//5525 여기서도 종료일정을 가져와야함.
        }else{
            var choiceEndDate = moment($("input[name=endDate]").val())._i;
            console.log("15번 인접값이 없다면?");
            // 내가고른 시작날짜와 끝날짜가 같고 고른 시간의 인덱스가 i보다 크거나 같다면 true
            for(var i = 0; i <= repetCount ; i++){    
                if(choiceDate == choiceEndDate && selectIndex >= i){
                    $('#endTime option').eq(i).prop('disabled', true);
                }
            };
            $('#endTime option').not(':disabled').first().prop('selected', true);
        };
    };

    function ajaxGetfindEndDate(success) {
        $('#endTime option').prop('disabled', false).eq(0).prop('selected', true);
        console.log("h1h1h");
        var choiceDate = moment($("#endDate").val())._i; // 내가 선택한 날짜
        var maxDate = new Date(success.startDate).toTimeString().substring(0, 10); // 인접데이터의 '날짜'
        var maxTime = new Date(success.startDate).toTimeString().substring(0, 5); // 인접데이터의 시작'시간'
        var repetCount = $("#endTime option").length; // 종료시간의 개수

        if(choiceDate !== maxDate){
            var stIndex = $('#startTime option[value="' + maxTime + '"]').index(); // 인접 데이터 시작시간의 '인덱스'
            for(var i = stIndex; i <= repetCount ; i++){
                $('#endTime option').eq(i).prop('disabled', true); // 해당값에 disabled 처리
            }
        }else{
            return;
        }
    }

    $(function(){

        /* 날짜 기본세팅 */
        var date = new Date();
        var yyyy = date.getFullYear();
        var mm = date.getMonth()+1 > 9 ? date.getMonth()+1 : '' + date.getMonth()+1;
        var dd = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
        $("input[type=date]").val(yyyy+"-"+mm+"-"+dd);

        /* 예약 시작일 선택시 예약된곳 예약불가 */
        $("input[name=startDate]").change(function(){
            var startDate = $("input[name=startDate]").val();
            var roomName = $("#location option:selected").val();
            var data = {"startDate" : startDate,
            "roomName" : roomName
            };
            var url = "/scheduler/findDate";
            var type = "post";
        
            $("input[name=endDate]").val(startDate); // 선택한 날짜 같은날짜로 이동하기
            $("input[name=endDate]").attr('min', startDate); // 선택한 날짜 이전 날짜는 선택붙가 , 검증 한번 필요
            ajaxRequset(type,url,data,ajaxGetSoldout);
        });

        $("#startTime").change(function(){  
            var type = "post";
            var url = "/scheduler/closestTime";
            var roomName = $("#location option:selected").val();
            var startDate = $("input[name=startDate]").val();
            var startTime = $("#startTime").val();
            if(startTime == null){
                startTime = "08:00";
            }
            var data = { "startDate" : startDate,
                "startTime" : startTime,
                "roomName" : roomName,
            }
            ajaxRequset(type,url,data,ajaxGetClosestTime);
            
        });

        $("#endDate").change(function(){  
            var type = "post";
            var url = "/scheduler/findEndDate";
            var roomName = $("#location option:selected").val();
            var endDate = $("input[name=endDate]").val();
            var endTime = $("#endTime").val();
            var data = { "endDate" : endDate,
                "endTime" : endTime,
                "roomName" : roomName,
            }
            ajaxRequset(type,url,data,ajaxGetfindEndDate);
        });
        
        /* 로딩될때, 자원을 바꿨을때 데이터를 불러오기 */
        $("#location").change(function(){
            $("input[name=startDate]").change();
        }).change();
                

         /* 게시판 인서트 */
        $("#insert").click(function(){
            var title = $("input[name=title]").val();
            if(title == ""){
                alert("예약명을 입력해주세요");
            }else{
                $("form").submit();
            }
        });

    });//루트
</script>
<div class="wrapper">
    <div class="content">
        <h1>예약하기</h1>
        <form method="post" action="/scheduler">
            <span style="font-size: 20px;">자원선택</span>
            <select name="location" id="location">
                <option value="301호">301호 중회의실</option>
                <option value="302호">302호 소회의실</option>
                <option value="303호">303호 대회의실</option>
                <option value="402호">402호 회의실</option>
            </select><br><br>
            <span style="font-size: 20px;">예약자&nbsp&nbsp</span>
            <input type="text" style="width: 200px;" name="name" value="<%= user.name %>" readonly><br><br>
            <span style="font-size: 20px;">예약명&nbsp&nbsp</span>
            <input type="text" style="width: 200px;" name="title"><br><br>
            <span style="font-size: 20px; margin-right: 10px;">예약일</span>
            <input class="dateInput" type="date" name="startDate" style="height: 37px;">
            <select name="startTime" id="startTime">      
                <option value="08:00">08:00</option>
                <option value="08:10">08:10</option>
                <option value="08:20">08:20</option>
                <option value="08:30">08:30</option>
                <option value="08:40">08:40</option>
                <option value="08:50">08:50</option>
                <option value="09:00">09:00</option>
                <option value="09:10">09:10</option>
                <option value="09:20">09:20</option>
                <option value="09:30">09:30</option>
                <option value="09:40">09:40</option>
                <option value="09:50">09:50</option>
                <option value="10:00">10:00</option>
                <option value="10:10">10:10</option>
                <option value="10:20">10:20</option>
                <option value="10:30">10:30</option>
                <option value="10:40">10:40</option>
                <option value="10:50">10:50</option>
                <option value="11:00">11:00</option>
                <option value="11:10">11:10</option>
                <option value="11:20">11:20</option>
                <option value="11:30">11:30</option>
                <option value="11:40">11:40</option>
                <option value="11:50">11:50</option>
                <option value="12:00">12:00</option>
                <option value="12:10">12:10</option>
                <option value="12:20">12:20</option>
                <option value="12:30">12:30</option>
                <option value="12:40">12:40</option>
                <option value="12:50">12:50</option>
                <option value="13:00">13:00</option>
                <option value="13:10">13:10</option>
                <option value="13:20">13:20</option>
                <option value="13:30">13:30</option>
                <option value="13:40">13:40</option>
                <option value="13:50">13:50</option>
                <option value="14:00">14:00</option>
                <option value="14:10">14:10</option>
                <option value="14:20">14:20</option>
                <option value="14:30">14:30</option>
                <option value="14:40">14:40</option>
                <option value="14:50">14:50</option>
                <option value="15:00">15:00</option>
                <option value="15:10">15:10</option>
                <option value="15:20">15:20</option>
                <option value="15:30">15:30</option>
                <option value="15:40">15:40</option>
                <option value="15:50">15:50</option>
                <option value="16:00">16:00</option>
                <option value="16:10">16:10</option>
                <option value="16:20">16:20</option>
                <option value="16:30">16:30</option>
                <option value="16:40">16:40</option>
                <option value="16:50">16:50</option>
                <option value="17:00">17:00</option>
                <option value="17:10">17:10</option>
                <option value="17:20">17:20</option>
                <option value="17:30">17:30</option>
                <option value="17:40">17:40</option>
                <option value="17:50">17:50</option>
                <option value="18:00">18:00</option>
                <option value="18:10">18:10</option>
                <option value="18:20">18:20</option>
                <option value="18:30">18:30</option>
                <option value="18:40">18:40</option>
                <option value="18:50">18:50</option>
                <option value="19:00">19:00</option> 
            </select>
            <span style="font-size: 15px; margin-right: 10px;">부터</span>
            <input type="date" class="dateInput" name="endDate" id="endDate" style="height: 37px;">
            <select name="endTime" id="endTime">     
                <option value="08:00">08:00</option>
                <option value="08:10">08:10</option>
                <option value="08:20">08:20</option>
                <option value="08:30">08:30</option>
                <option value="08:40">08:40</option>
                <option value="08:50">08:50</option>
                <option value="09:00">09:00</option>
                <option value="09:10">09:10</option>
                <option value="09:20">09:20</option>
                <option value="09:30">09:30</option>
                <option value="09:40">09:40</option>
                <option value="09:50">09:50</option>
                <option value="10:00">10:00</option>
                <option value="10:10">10:10</option>
                <option value="10:20">10:20</option>
                <option value="10:30">10:30</option>
                <option value="10:40">10:40</option>
                <option value="10:50">10:50</option>
                <option value="11:00">11:00</option>
                <option value="11:10">11:10</option>
                <option value="11:20">11:20</option>
                <option value="11:30">11:30</option>
                <option value="11:40">11:40</option>
                <option value="11:50">11:50</option>
                <option value="12:00">12:00</option>
                <option value="12:10">12:10</option>
                <option value="12:20">12:20</option>
                <option value="12:30">12:30</option>
                <option value="12:40">12:40</option>
                <option value="12:50">12:50</option>
                <option value="13:00">13:00</option>
                <option value="13:10">13:10</option>
                <option value="13:20">13:20</option>
                <option value="13:30">13:30</option>
                <option value="13:40">13:40</option>
                <option value="13:50">13:50</option>
                <option value="14:00">14:00</option>
                <option value="14:10">14:10</option>
                <option value="14:20">14:20</option>
                <option value="14:30">14:30</option>
                <option value="14:40">14:40</option>
                <option value="14:50">14:50</option>
                <option value="15:00">15:00</option>
                <option value="15:10">15:10</option>
                <option value="15:20">15:20</option>
                <option value="15:30">15:30</option>
                <option value="15:40">15:40</option>
                <option value="15:50">15:50</option>
                <option value="16:00">16:00</option>
                <option value="16:10">16:10</option>
                <option value="16:20">16:20</option>
                <option value="16:30">16:30</option>
                <option value="16:40">16:40</option>
                <option value="16:50">16:50</option>
                <option value="17:00">17:00</option>
                <option value="17:10">17:10</option>
                <option value="17:20">17:20</option>
                <option value="17:30">17:30</option>
                <option value="17:40">17:40</option>
                <option value="17:50">17:50</option>
                <option value="18:00">18:00</option>
                <option value="18:10">18:10</option>
                <option value="18:20">18:20</option>
                <option value="18:30">18:30</option>
                <option value="18:40">18:40</option>
                <option value="18:50">18:50</option>
                <option value="19:00">19:00</option>  
            </select><br><br>
            <div id="ibox"></div>
            <span style="font-size: 20px;">종일&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="radio" name="allday" value="true">예
            <input type="radio" name="allday" value="false" checked>아니오
            <br><br><button type="button" id="insert">예약하기</button><br><br><br><br>
        </form>
    </div>
</div>

<!-- 

------ok-------
case1. 선택한 날짜 이후에 첫번째 일정까지 선택이 가능하고, 첫번째 일정의 시작시간 전까지 예약할수있음.
test. 1월 3일 선택 후 첫번째 일정인 1월 7일까지 선택이 가능했고, 첫번째 일정인 9시 전까지 예약시간 활성화.



-------no--------
case2. 일정이 있는 날짜를 선택했을때 일정에 맞게 시간들을 선택할 수 없도록하고, 종료 날짜도 (maxDate) 세팅,
시간 선택시 종료 시간도 일정에 맞추어 세팅해주어야함.
test. 1월 7일을 선택했을때 일정(3개)에 맞게 시간들을 선택할 수 없도록 하였고, 종료 날짜도 7일로 세팅하였지만,
언제를 선택하여도 똑같은 인접값이 나와서 실패
console.log(14번 참고)

case3. 일정이 있는 날짜 마지막 시간부터는 그 다음 일정까지 예약할수 있도록 되어야함.
test. 일정이 있는 1월 7일을 선택하여 마지막 시간인 17:50분을 선택하였지만 case2번과 동일한 문제로 해결못함.
console.log(14번) + maxDate 설정에서 문제



!!!!
2개의 데이터를 가져올수는 없는지?
model.addAttribute 처럼 여러개를 가져와서 가공하면 해결 가능한 문제들
-->