<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JOIN</title>
</head>
<link rel='stylesheet' type='text/css' media='screen' href='/css/join.css'>
<script src="/js/ajaxmodules.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    var cheakId;
    var overlapCheck;
    var regId = /^[0-9]{4}$/;
    
    
    /* 중복확인 콜백 */
    function ajaxoverlap(success){
        overlapCheck = JSON.stringify(success.overlapCheck);
        alert(JSON.stringify(success.text));
    }
    /* 회원가입 콜백 */
    function ajaxjoin(success){
        alert(JSON.stringify(success.text));
        document.location.replace("/");
    }

    $(function(){
        /* 중복확인 */
        $("input[name=overlap]").click(function(){
            cheakId = $("input[name=id]").val();
            var data = {"id" : cheakId};
            var url = "/user/findoverlap";
            var type = "post";
            
            if(!(regId.test(cheakId))){
                alert("아이디 형식을 확인해주세요");
            }else{
                ajaxRequset(type,url,data,ajaxoverlap);
            }
        });

        /* 회원가입 */
        $("#join").click(function(){
            var regName = /^[가-힣]{2,4}$/;
            var regPw = /^[A-Za-z0-9+]{4,8}$/;    
            var data = $("form").serialize();
            var url = "/user/join"; 
            var type = "post";
            var nowId = $("input[name=id]").val();
            var nowPw = $("input[name=password]").val();
            var nowName = $("input[name=name]").val();
            
            console.log(nowName);
            
            if(nowId !== cheakId || overlapCheck !== "1" || overlapCheck === undefined){
                alert("아이디 중복을 확인해주세요");
            }else if(!regPw.test(nowPw)){
                alert("패스워드 형식을 확인해주세요");
            }else if(!regName.test(nowName)){
                alert("이름을 확인해주세요");
            }
            else{
                ajaxRequset(type,url,data,ajaxjoin);
            }
        });
    });//루트

</script>
<div class="wrapper">
    <div class="content">
        <h1>Join!</h1>
        <form method="post" action="/user/join">
            <input type="text" name="id" placeholder="사번을 입력해주세요 숫자 4자리" style="position: relative; left: 35px;"><input type="button" name="overlap" value="중복검사" style="width: 70px; position: relative; left: 60px;"><br>
            <input type="text" name="name" placeholder="이름을 입력해주세요"><br>
            <input type="password" name="password" placeholder="비밀번호는 영문,숫자조합 4~8글자입니다"><br>
            <button type="button" id="join">제출</button>
        </form>
    </div>
</div>
