<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>예약하기</title>
</head>
<body>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/schedulerInsert.css'>
    <script src="/js/ajaxmodules.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // Ajax 호출시에 응답이 올때까지 화면 멈추기 추가
        var passTrue = null;

        /* 시간 제한하기 콜백 */
        function ajaxGetSoldout(success){
            var choiceDate = moment($("input[name=startDate]").val())._i;
            var today = moment().format().substring(0,10);
    
            $("#startDate").attr('min', today);
            //시간 초기화
            $('#startTime option').prop('disabled', false).eq(0).prop('selected', true);
            $('#endTime option').prop('disabled', false).eq(0).prop('selected', true);
    
            $(success).each(function() {
                console.log("1번")
                var data = $(this)[0]; // success[0] = data
                var startDate = data['startDate'].substring(0, 10); // 가져온 일정의 종료날짜 포멧 YYYY-MM-DD
                var endDay = data['endDate'].substring(0, 10); // 가져온 일정의 종료날짜 포멧 YYYY-MM-DD
                var start = new Date(data['startDate']).toTimeString().substring(0, 5); // 가져온 일정의 시작시간 포멧 08:00
                var end = new Date(data['endDate']).toTimeString().substring(0, 5);     // 가져온 일정의 종료시간 포멧 09:00
                var stIndex = $('#startTime option[value="' + start + '"]').index(); // 내가 정의한 전체 옵션중에 시작시간이랑 같은 옵션의 인덱스
                var edIndex = $('#endTime option[value="' + end + '"]').index();     // 내가 정의한 전체 옵션중에 종료시간이랑 같은 옵션의 인덱스
                var repetCount = $("#endTime option").length; // for문 몇번 돌릴지
                
                console.log(data);
                //일정시작 날짜와 내가 고른 날짜가 같다면 
                if(startDate == choiceDate){
                    console.log("2번")
                    //일정시작 날짜와 내가 고른 날짜가 같고 내가 고른 날짜와 일정종료 날짜가 같다면
                    if(choiceDate == endDay){
                        console.log("3번")
                        // 같은 날 시작하고 종료를 하니까 일정마다 닫아줘야함
                        for(var i = stIndex; i <= repetCount; i++) {
                            /* 
                             * 일정의 시작 인덱스가 i보다 작고 일정의 종료 인덱스가 i보다 크다면?
                             * 시작시간이 i보다 작고 종료시간이 i보다 크다면 일정 선택불가능   
                            */
                            if(stIndex <= i && i <= edIndex ){
                                console.log("4번")
                                $('#startTime option').eq(i).prop('disabled', true);
                            }
                        };
                    //일정시작 날짜와 내가 고른 날짜가 같지만 내가 고른 날짜와 일정종료 날짜가 같지않다면?                    
                    }else{
                        console.log("5번 일정시작 날짜와 내가 고른 날짜가 같지만 내가 고른 날짜와 일정종료 날짜가 같지않다면?");
                        // 일정의 시작 인덱스부터 끝까지 disabled
                        for(var i=stIndex; i<=repetCount; i++) {
                            if(stIndex <= i || i <= edIndex ){
                                console.log("6번")
                                $('#startTime option').eq(i).prop('disabled', true);
                                $('#endTime option').eq(i).prop('disabled', true);
                            };
                        };
                    };
                //일정시작 날짜와 내가 고른 날짜가 다르고 내가 고른 날짜와 가져온 일정의 종료 날짜가 같다면
                }else if(choiceDate == endDay){
                    console.log("7번")
                    // 포함된 일정의 종료시간 까지 모든 옵션을 disabled
                    for(var i = 0; i <= repetCount; i++) {
                        if(i < edIndex){ 
                            $('#startTime option').eq(i).prop('disabled', true);
                        }
                    };
                // 일정시작 날짜와 내가 고른 날짜가 다르다면 (중간에 있는 일정들을 모두 막아준다.)
                }else{ 
                    console.log("8번")
                    for(var i = 0; i <= repetCount; i++) {
                        $('#startTime option').eq(i).prop('disabled', true); 
                    };
                };
                $('#startTime option').not(':disabled').first().prop('selected', true); // 옵션이 디스에이블이 아닌것중 첫번째를 선택한다.
                $('#endTime option').not(':disabled').first().prop('selected', true);
            });// ★검증완료★
            console.log("9번 시간으로")
            $("#startTime").change(); // 바뀐 시간에서 최인접값 찾아주는 에이젝스 실행
        };
    
        /* 인접값 end 시간이후 모두 disabled 시키는 콜백 */
        function ajaxGetClosestTime(success){
            console.log("10번")
            var choiceDate = moment($("input[name=startDate]").val())._i; // 내가 선택한 날짜
            var startTime = $("#startTime").val();                        // 내가 선택한 시작시간
            var endTime = $("#endTime").val();                            // 내가 선택한 종료시간
            var selectIndex = $('#startTime option[value="' + startTime + '"]').index(); // 내가 선택한 시작시간의 '인덱스'
            var endIndex = $('#endTime option[value="' + endTime + '"]').index();        // 내가 선택한 종료시간의 '인덱스'
            var repetCount = $("#endTime option").length; // for문 몇번 돌릴지
            $("#endDate").removeAttr('max');              // 선택할 수 있는 최대 날짜를 초기화해준다.
            $('#endTime option').prop('disabled', false).eq(0).prop('selected', true);
            
            // 인접값이 있다면? (내가 선택한 일정 이후에 일정이 있다면)
            console.log(success);
            if(success !== null){
                console.log("11번")
                var maxDate = success.startDate.substring(0, 10);                           // 인접값의 시작'날짜'
                var minDate = success.endDate.substring(0, 10);                             // 인접값의 종료'날짜'
                var maxTime = new Date(success.startDate).toTimeString().substring(0, 5);   // 인접데이터의 시작'시간'
                var endTime = new Date(success.endDate).toTimeString().substring(0, 5);     // 인접데이터의 종료'시간'
                var stIndex = $('#startTime option[value="' + maxTime + '"]').index();      // 인접 데이터 시작시간의 '인덱스'
                var edIndex = $('#endTime option[value="' + endTime + '"]').index();        // 인접 데이터 종료시간의 '인덱스'
                
                // 최대 선택가능 날짜(가장 가까운 일정의 시작날짜)
                $("input[name=endDate]").attr('max', maxDate);
                
                // 인접값이 있고, 내가고른 날짜랑 인접한 데이터의 시작 날짜랑 같지않다면 > 고른 시간 이전 시간은 못고르게 막아주기 (완료)
                if(choiceDate !== maxDate){
                    console.log("12번")
                    for(var i=0; i <= repetCount ; i++){
                        // 고른 시간 이전 시간은 못고르게 막아주기
                        if(selectIndex >= i){
                            $('#endTime option').eq(i).prop('disabled', true);
                        };
                    };
                    // 고른 날짜랑 인접값의 종료 날짜랑 같다면 (26일을 눌렀는데 26일에 일정이 종료된다면?) ☆ 일정을 가져오는게 아니라서 for문을 돌릴수가 없어
                    if(choiceDate == minDate){
                        console.log("13번")
                        for(i = 0; i <= selectIndex; i++){
                            if(edIndex >= i){
                                $('#endTime option').eq(i).prop('disabled', true); 
                            };
                        };
                    };
                $('#endTime option').not(':disabled').first().prop('selected', true);
                // 인접값이 있고, 내가 고른 날짜랑 인접한 데이터의 시작날짜가 같음
                }else{
                    console.log("14번")
                    for(var i = 0; i <= repetCount ; i++) {
                        if(i <= selectIndex || stIndex <= i){
                            $('#endTime option').eq(i).prop('disabled', true);
                        };
                    };    
                    $('#endTime option').not(':disabled').first().prop('selected', true);
                };
            // 인접값이 없다면? (내 일정 이후에 일정이 없다면) 종료일정이 걸쳐있을수 있음.
            }else{
                console.log("15번")
                var choiceEndDate = moment($("input[name=endDate]").val())._i;
                if(choiceDate == choiceEndDate){
                    console.log("16번")
                    for(var i = 0; i <= repetCount ; i++){    
                        if(i < selectIndex){
                            $('#endTime option').eq(i).prop('disabled', true);
                        };
                    };
                }else{
                    console.log("17번")
                }
                $('#endTime option').not(':disabled').first().prop('selected', true);
            };
            $("#endDate").change();
        };
    
        function ajaxGetfindEndDate(success) {
            var choiceStartDate = moment($("#startDate").val())._i; // 내가 선택한 시작날짜
            var choiceEndDate = moment($("#endDate").val())._i; // 내가 선택한 날짜
            var startTime = $("#startTime").val();           // 내가 선택한 시작시간
            var choiceIndex = $('#startTime option[value="' + startTime + '"]').index(); // 내가 선택한 시작시간의 '인덱스'
            if(success == null){
                console.log("18번")
                if(choiceStartDate !== choiceEndDate){
                    $('#endTime option').prop('disabled', false).eq(0).prop('selected', true);
                }else{
                    for(i = 0; i <= choiceIndex; i++){
                        $('#endTime option').eq(i).prop('disabled', true);
                    }
                    $('#endTime option').not(':disabled').first().prop('selected', true);
                }
            }else{
                console.log("19번")
                $('#endTime option').prop('disabled', false).eq(0).prop('selected', true);
                var maxDate = success.startDate.substring(0, 10); // 인접데이터의 시작'날짜'
                var minDate = success.endDate.substring(0, 10); // 인접데이터의 종료'날짜'
                var maxTime = new Date(success.startDate).toTimeString().substring(0, 5); // 인접데이터의 시작'시간'
                var minTime = new Date(success.endDate).toTimeString().substring(0, 5); // 인접데이터의 종료'시간'
                var stIndex = $('#startTime option[value="' + maxTime + '"]').index(); // 인접 데이터 시작시간의 '인덱스'
                var edIndex = $('#startTime option[value="' + minTime + '"]').index(); // 인접 데이터 종료시간의 '인덱스'
                var repetCount = $("#endTime option").length; // 몇번돌지
    
                /* 고른 날짜와 인접데이터의 시작날짜가 다르다면 */
                if(choiceEndDate !== maxDate){
                    console.log("20번")
                    $('#endTime option').prop('disabled', false).eq(0).prop('selected', true);
                    for(var i = 0; i <= repetCount ; i++){
                        if(i <= choiceIndex){
                            $('#endTime option').eq(i).prop('disabled', true); // 해당값에 disabled 처리
                        }
                    };
                    //내가 고른 시작날짜보다 내가고른 종료날짜가 크면
                    if(choiceStartDate < choiceEndDate){
                        console.log("22번")
                        $('#endTime option').prop('disabled', false).eq(0).prop('selected', true);
                    }
                    //내가 고른 종료날짜보다 인접데이터의 시작 날짜가 크다면?
                    else if(choiceEndDate < maxDate){
                        console.log("23번")
                        if(choiceStartDate == choiceEndDate){
                            if(choiceIndex == -1){
                                for(var i = 0; i <= repetCount ; i++){
                                    if(i <= repetCount){
                                        $('#endTime option').eq(i).prop('disabled', true); // 해당값에 disabled 처리
                                    }
                                }  
                            }else{
                                console.log("24번")
                                $("input[name=endDate]").attr('max', maxDate);
                                for(var i = 0; i <= repetCount ; i++){
                                    if(i <= choiceIndex){
                                        $('#endTime option').eq(i).prop('disabled', true); // 해당값에 disabled 처리
                                    }
                                }
                            }
                        }else{
                            console.log("25번")
                            for(var i = 0; i <= repetCount ; i++){
                                if(i <= repetCount){
                                    $('#endTime option').eq(i).prop('disabled', true); // 해당값에 disabled 처리
                                }
                            };
                        };
                    };
                    $('#endTime option').not(':disabled').first().prop('selected', true);
                }
                /* 고른 날짜랑 인접데이터의 시작 날짜가 같다면? */
                else if(choiceEndDate == maxDate){
                    console.log("26번")
                    if(choiceStartDate < choiceEndDate){
                        for(var i = 0; i <= repetCount ; i++){
                            if(i > stIndex){
                                $('#endTime option').eq(i).prop('disabled', true); // 해당값에 disabled 처리
                            }
                        };
                    }else if(choiceStartDate == choiceEndDate){
                        console.log("27번")
                        for(var i = 0; i <= repetCount ; i++){
                            if(i <= choiceIndex || stIndex <= i){ // 고른 인덱스 확인해서 그 전거는 다 막아버리기
                                $('#endTime option').eq(i).prop('disabled', true); // 해당값에 disabled 처리
                            }
                        };
                        $('#endTime option').not(':disabled').first().prop('selected', true);
                    };
                }else{
                    return;
                };
                nextStep();
            };
        };

        function scheduleModify(success){        
            var infoText = success.text;

            if(infoText == "성공"){
                document.location.replace("/");
            }else{
                document.getElementById("infoText").innerText = infoText;
            }
        }

        function nextStep(){
            var location = "<%= findData.location %>";
            var title = "<%= findData.title %>";
            var startDate = ("<%= findData.startDate %>").substring(0,10); // 시간형식 맞추기
            var startTime = ("<%= findData.startDate %>").substring(11,16);
            var endDate = ("<%= findData.endDate %>").substring(0,10);
            var endTime = ("<%= findData.endDate %>").substring(11,16); // 시간형식 맞추기

            if(passTrue == null){
                console.log("r")
                $("#location").val(location).prop("selected", true);
                $("#title").val(title);
                $("#startDate").val(startDate).change();
                passTrue = 1;
            }else if(passTrue == 1){
                console.log("s")
                console.log($("#startTime").val())
                console.log(startTime)
                if($("#startTime").val() !== startTime){
                    $("#startTime").val(startTime).change();
                }else{
                    $("#startTime").val(startTime).change();
                }
                passTrue = 2;
                console.log(passTrue)
            }else if(passTrue == 2){
                console.log("e")
                if($("#endDate").val() !== endDate){
                    $("#endDate").val(endDate);
                }else{
                    $("#endDate").val(endDate).change();
                }
                passTrue = 3;
            }else if(passTrue == 3){
                console.log(passTrue)
                console.log("1111");

                if($("#endTime").val() !== endTime){
                    $("#endTime").val(endTime);
                }else{
                    return;
                }
            }
        }
        
    
        $(function(){
            /* 날짜 기본세팅 */
            var date = new Date();
            var yyyy = date.getFullYear();
            var mm = date.getMonth()+1 > 9 ? date.getMonth()+1 : '' + date.getMonth()+1;
            var dd = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();
            $("input[type=date]").val(yyyy+"-"+mm+"-"+dd);
            var calendarId = "<%= findData.calendarId %>";
            

            /* 모디파이 설정 */
            console.log("이곳먼저");

            var location = "<%= findData.location %>";
            var title = "<%= findData.title %>";
            var startDate = ("<%= findData.startDate %>").substring(0,10); // 시간형식 맞추기
            var startTime = ("<%= findData.startDate %>").substring(11,16);
            var endDate = ("<%= findData.endDate %>").substring(0,10);
            var endTime = ("<%= findData.endDate %>").substring(11,16); // 시간형식 맞추기
            var category = "<%= findData.category %>";

            if(category == "allday"){
                $("input[name=allday]").prop('checked', true);
                $(".alldayCheckOff").addClass("alldayCheckOn");
                $("#startDate").val(startDate);
                return;
            }
            nextStep();

            // console.log(location,category,title,startDate,endDate);
            // console.log(startTime);
            
            // console.log("다음은 여기?")
            
            
            // }else{
            //     $("#startDate").val(startDate);
            //     $("#startTime").val(startTime);
            //     $("#endDate").val(endDate);
            //     //$("#startTime").val(startTime);
            // }
            // $("#location").val(location).prop("selected", true);
            
            // console.log("다음은 여기!!")

            /* 예약 시작일 선택시 예약된곳 예약불가 */
            $("input[name=startDate]").change(function(){
                console.log("왜 여기먼저?");
                var startDate = $("input[name=startDate]").val();
                var roomName = $("#location option:selected").val();
                var data = {
                    "calendarId" : calendarId,
                    "startDate" : startDate,
                    "roomName" : roomName,
                    "path" : "modify"
                };
                var url = "/scheduler/findDate";
                var type = "post";
            
                $("input[name=endDate]").val(startDate); // 선택한 날짜 같은날짜로 이동하기
                $("input[name=endDate]").attr('min', startDate); // 선택한 날짜 이전 날짜는 선택붙가 , 검증 한번 필요
                
                ajaxRequset(type,url,data,ajaxGetSoldout);
            });

            /* 시작시간이 바뀌었을때 */
            $("#startTime").change(function(){  
                var type = "post";
                var url = "/scheduler/closestTime";
                var roomName = $("#location option:selected").val();
                var startDate = $("input[name=startDate]").val();
                var startTime = $("#startTime").val();
                if(startTime == null){
                    startTime = "08:00";
                }
                var data = {
                    "calendarId" : calendarId,
                    "startDate" : startDate,
                    "startTime" : startTime,
                    "roomName" : roomName,
                    "path" : "modify"
                }
                console.log("12121212121212");
                
                ajaxRequset(type,url,data,ajaxGetClosestTime);
            });
            /* 종료일자가 바뀌었을때 */
            $("#endDate").change(function(){  
                var type = "post";
                var url = "/scheduler/findEndDate";
                var roomName = $("#location option:selected").val();
                var endDate = $("input[name=endDate]").val();
                var endTime = $("#endTime").val();
                if(endTime == null){
                    endTime = "08:00";
                }
                var data = {
                    "calendarId" : calendarId,
                    "endDate" : endDate,
                    "endTime" : endTime,
                    "roomName" : roomName,
                    "path" : "modify"
                }
                console.log("h1h1h1h1h1h1h1h");
                
                ajaxRequset(type,url,data,ajaxGetfindEndDate);
            });

            /* 로딩될때, 자원을 바꿨을때 데이터를 불러오기 */
            $("#location").change(function(){
                console.log("왜때문에")
                $("input[name=startDate]").change();
            }).change();
                    
             /* 게시판 인서트 */
            $("#modify").click(function(){
                var title = $("input[name=title]").val();
                var url = "/scheduler/";
                var type = "put"
                var data = $("form").serialize();;

                if(title == ""){
                    alert("예약명을 입력해주세요");
                }else if(title.length > 20){
                    alert("예약의 이름이 너무 깁니다");
                }else{
                    ajaxRequset(type,url,data,scheduleModify);
                }
            });
            
            /* 종일 체크시 입력 막기. */
            $("input[name=allday]").click(function(){
                var startDate = $("input[name=startDate]").val();
                var endDate = $("input[name=endDate]").val();
                
                if($("input[name=allday]").is(':checked')){
                    if(startDate !== endDate){
                        $("input[name=endDate]").val(startDate);
                    }
                    $(".alldayCheckOff").addClass("alldayCheckOn");
                }else{
                    $(".alldayCheckOff").removeClass("alldayCheckOn");
                };
            });
            
        });//루트
    </script>
    <div class="wrapper">
        <div class="content">
            <h1>예약하기</h1>
            <form method="post">
                <span style="font-size: 20px; ">예약자</span>
                <input type="text" style="border: none;" name="name" value="<%= user.name %>" readonly><br><br>
                <div class="styleform">
                    <img src="/img/location.png" style="width: 30px; position: relative; top: 10px;">
                    <select name="location" id="location">
                        <option value="301호">301호 중회의실</option>
                        <option value="302호">302호 소회의실</option>
                        <option value="303호">303호 대회의실</option>
                        <option value="402호">402호 회의실</option>
                    </select><br><br>
                </div>
                <div class="styleform">    
                    <img src="/img/연필.png" style="width: 20px; position: relative; top: 4px; left: 4px;">
                    <input type="text" id="title" name="title" placeholder="회의명을 입력해주세요" maxlength="20"><br><br>
                </div>
                <div class="styleform">
                    <img src="/img/캘린더.png" style="width: 20px; position: relative; top: 4px; left: 4px;" >
                    <div class="allday">
                        <span style="font-size: 20px;">&nbsp&nbsp종일</span>
                        <input type="checkbox" name="allday" value="true" style="margin-right: 10px; cursor: pointer;"; >
                    </div>
                        <input class="dateInput" type="date" name="startDate" id="startDate" onkeydown="return false" style="height: 37px;">
                        <span class="alldayCheckOff">
                        <select name="startTime" id="startTime">      
                            <option value="08:00">08:00</option>
                            <option value="08:10">08:10</option>
                            <option value="08:20">08:20</option>
                            <option value="08:30">08:30</option>
                            <option value="08:40">08:40</option>
                            <option value="08:50">08:50</option>
                            <option value="09:00">09:00</option>
                            <option value="09:10">09:10</option>
                            <option value="09:20">09:20</option>
                            <option value="09:30">09:30</option>
                            <option value="09:40">09:40</option>
                            <option value="09:50">09:50</option>
                            <option value="10:00">10:00</option>
                            <option value="10:10">10:10</option>
                            <option value="10:20">10:20</option>
                            <option value="10:30">10:30</option>
                            <option value="10:40">10:40</option>
                            <option value="10:50">10:50</option>
                            <option value="11:00">11:00</option>
                            <option value="11:10">11:10</option>
                            <option value="11:20">11:20</option>
                            <option value="11:30">11:30</option>
                            <option value="11:40">11:40</option>
                            <option value="11:50">11:50</option>
                            <option value="12:00">12:00</option>
                            <option value="12:10">12:10</option>
                            <option value="12:20">12:20</option>
                            <option value="12:30">12:30</option>
                            <option value="12:40">12:40</option>
                            <option value="12:50">12:50</option>
                            <option value="13:00">13:00</option>
                            <option value="13:10">13:10</option>
                            <option value="13:20">13:20</option>
                            <option value="13:30">13:30</option>
                            <option value="13:40">13:40</option>
                            <option value="13:50">13:50</option>
                            <option value="14:00">14:00</option>
                            <option value="14:10">14:10</option>
                            <option value="14:20">14:20</option>
                            <option value="14:30">14:30</option>
                            <option value="14:40">14:40</option>
                            <option value="14:50">14:50</option>
                            <option value="15:00">15:00</option>
                            <option value="15:10">15:10</option>
                            <option value="15:20">15:20</option>
                            <option value="15:30">15:30</option>
                            <option value="15:40">15:40</option>
                            <option value="15:50">15:50</option>
                            <option value="16:00">16:00</option>
                            <option value="16:10">16:10</option>
                            <option value="16:20">16:20</option>
                            <option value="16:30">16:30</option>
                            <option value="16:40">16:40</option>
                            <option value="16:50">16:50</option>
                            <option value="17:00">17:00</option>
                            <option value="17:10">17:10</option>
                            <option value="17:20">17:20</option>
                            <option value="17:30">17:30</option>
                            <option value="17:40">17:40</option>
                            <option value="17:50">17:50</option>
                            <option value="18:00">18:00</option>
                            <option value="18:10">18:10</option>
                            <option value="18:20">18:20</option>
                            <option value="18:30">18:30</option>
                            <option value="18:40">18:40</option>
                            <option value="18:50">18:50</option>
                            <option value="19:00">19:00</option> 
                        </select>
                        <span style="margin-left : 20px; font-size: 20px;" > ~ </span>
                        <input type="date" class="dateInput" name="endDate" id="endDate" onkeydown="return false" style="height: 37px;">
                        <select name="endTime" id="endTime">     
                            <option value="08:00">08:00</option>
                            <option value="08:10">08:10</option>
                            <option value="08:20">08:20</option>
                            <option value="08:30">08:30</option>
                            <option value="08:40">08:40</option>
                            <option value="08:50">08:50</option>
                            <option value="09:00">09:00</option>
                            <option value="09:10">09:10</option>
                            <option value="09:20">09:20</option>
                            <option value="09:30">09:30</option>
                            <option value="09:40">09:40</option>
                            <option value="09:50">09:50</option>
                            <option value="10:00">10:00</option>
                            <option value="10:10">10:10</option>
                            <option value="10:20">10:20</option>
                            <option value="10:30">10:30</option>
                            <option value="10:40">10:40</option>
                            <option value="10:50">10:50</option>
                            <option value="11:00">11:00</option>
                            <option value="11:10">11:10</option>
                            <option value="11:20">11:20</option>
                            <option value="11:30">11:30</option>
                            <option value="11:40">11:40</option>
                            <option value="11:50">11:50</option>
                            <option value="12:00">12:00</option>
                            <option value="12:10">12:10</option>
                            <option value="12:20">12:20</option>
                            <option value="12:30">12:30</option>
                            <option value="12:40">12:40</option>
                            <option value="12:50">12:50</option>
                            <option value="13:00">13:00</option>
                            <option value="13:10">13:10</option>
                            <option value="13:20">13:20</option>
                            <option value="13:30">13:30</option>
                            <option value="13:40">13:40</option>
                            <option value="13:50">13:50</option>
                            <option value="14:00">14:00</option>
                            <option value="14:10">14:10</option>
                            <option value="14:20">14:20</option>
                            <option value="14:30">14:30</option>
                            <option value="14:40">14:40</option>
                            <option value="14:50">14:50</option>
                            <option value="15:00">15:00</option>
                            <option value="15:10">15:10</option>
                            <option value="15:20">15:20</option>
                            <option value="15:30">15:30</option>
                            <option value="15:40">15:40</option>
                            <option value="15:50">15:50</option>
                            <option value="16:00">16:00</option>
                            <option value="16:10">16:10</option>
                            <option value="16:20">16:20</option>
                            <option value="16:30">16:30</option>
                            <option value="16:40">16:40</option>
                            <option value="16:50">16:50</option>
                            <option value="17:00">17:00</option>
                            <option value="17:10">17:10</option>
                            <option value="17:20">17:20</option>
                            <option value="17:30">17:30</option>
                            <option value="17:40">17:40</option>
                            <option value="17:50">17:50</option>
                            <option value="18:00">18:00</option>
                            <option value="18:10">18:10</option>
                            <option value="18:20">18:20</option>
                            <option value="18:30">18:30</option>
                            <option value="18:40">18:40</option>
                            <option value="18:50">18:50</option>
                            <option value="19:00">19:00</option>  
                        </select><br><br>
                    </span>
                </div>
                <br><span id="infoText"></span>
                <br><br><button type="button" id="modify">예약하기</button>
                <button type="button" style="position: relative; left: 412px; bottom: 400px;"><a href="/scheduler">뒤로가기</a></button>

                <div id="sbox">
                    <button type="button" class="changePageBtn" onclick="cal.prev();">이전</button>
                    <button type="button" class="changePageBtn" onclick="cal.today();">오늘</button>
                    <button type="button" class="changePageBtn" onclick="cal.next();">다음</button>
                    <span id="renderRange" class="render-range"></span>
                    <div>
                        <div id="calendar" style="height: 300px;"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
    <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
    <script>
            var cal = new tui.Calendar(document.getElementById('calendar'), {
                defaultView: 'week',
                taskView: true,    
                usageStatistics: false,
                useCreationPopup : false,
                useDetailPopup: true,
                isReadOnly : true,
                week: {
                    daynames: ['일', '월', '화', '수', '목', '금', '토'],
                    narrowWeekend: false,
                    startDayOfWeek: 1
                },
                month: {
                    daynames: ['일', '월', '화', '수', '목', '금', '토'],
                    narrowWeekend: false,
                    startDayOfWeek: 0
                },
                template:{
                    milestone: function(model) {
                        return '<span class="calendar-font-icon ic-milestone-b"></span> <span style="background-color: ' + model.bgColor + '">' + model.title + '</span>';
                    },
                },
                timezone: {
                zones: [
                    {
                        timezoneName: 'Asia/Seoul',
                        displayLabel: 'GMT+09:00',
                        tooltip: 'Seoul'
                    }
                ],
            }
            });
    
            cal.createSchedules([
                <% for(i=0; i < data.length; i++){ %>
                    {
                        id: '<%= data[i].id %>',
                        calendarId: '<%= data[i].calendarId %>',
                        title: '<%= data[i].title %>',
                        category: '<%= data[i].category %>',
                        start: '<%= data[i].startDate %>',
                        end: '<%= data[i].endDate %>',
                        bgColor: '<%= data[i].color %>'
                    },
                <% } %>
            ]);
            
                    
            function rangeBind(){
                var startDate = new Date(cal.getDateRangeStart()).toLocaleDateString();
                var endDate = new Date(cal.getDateRangeEnd()).toLocaleDateString();
                document.getElementById('renderRange').innerHTML="<span>"+startDate +"~"+  endDate+"</span>";
            }
    
            $(window).on('load', function(){
                rangeBind();
            });

            $(".changePageBtn").click(function(){
                rangeBind();
            });
            
                  
    

    </script>
</body>
