.weapper{
    width: 1800px;
    margin: 0 auto;
}
.content{
    padding-top: 100px;
    padding-left: 300px;
}
select{
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
}
#dateTimeLocal{
    width: 200px;
}
.dateInput{
    font-size: 14px;
    font-weight: bold;
}
#ibox{
    width: 830px;
}
#inIbox{
    position: absolute;
    left : 1100px;
    top: 20px;
    width: 610px;
    height: 860px;
}
option:disabled{
    color: red;
}