.weapper{
    width: 1800px;
    margin: 0 auto;
}
.content{
    padding-top: 20px;
    padding-left: 20px;
}
select{
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
}
#dateTimeLocal{
    width: 200px;
}
.dateInput{
    font-size: 14px;
    font-weight: bold;
}
option:disabled{
    color: red;
}
#calendar{
    width: 450px;
}
#sbox{
    position: relative;
    left: 800px;
    bottom: 322px;
}
.tui-full-calendar-timegrid-gridline{
    height: 10px;
}