#calendar{
    width: 1200px;
    margin-top: 10px;
}
.changePageBtn, .selectViewBtn{
    width: 50px;
    height: 30px;
    color: white;
    background-color: rgb(131, 135, 252);
    font-size: 15px;
    padding: 5px;
    border: none;
    cursor: pointer;
}
.selectViewBtn{
    background-color: rgb(255, 188, 255);
}


/* popup */

#onPop {
    height: 150px;
    width: 400px;
    box-shadow: 3px 3px 7px 1px grey;
    background-color: white;
    z-index: 9999;
    margin-left: 36%;
    margin-top: 13%;
    display: none;
    position: fixed;
}
#onPop h2 {
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
}

#onPop p .second {
    margin-left: 6px;
}

.popContent {
    font-size: 13px;
    height: 40%;
}
.popContent p{
    margin-left: 10px;
}

#closeBtn {
    font-size: 13px;
    position: relative;
    left: 360px;
    top: 9px;
}
.mdBtn{ 
    display: inline;
    height: 5%;
    
}
#modifyBtn, #deleteBtn{
    cursor: pointer;
    display: inline-block;
    border: none;
    width: 50%;
    height: 20%;
    text-align: center;
    line-height: 20%;
    margin-right: -4px;
    color: white;
}
#deleteBtn{
    background-color: rgb(250, 83, 116);
}
#modifyBtn{
    background-color: rgb(83, 183, 250);
}

#modal {
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}
